<div class="container">
  <div class="row d-flex justify-content-around">
    <h2 class="mt-5">My equipments</h2>
    <% @myskis.each do |ski| %>

      <div class="card-myskis mt-3">
        <%= link_to ski_path(ski) do %>
          <% if ski.photo.attached? %>
            <img class="card-img-top", src='<%= cl_image_path ski.photo.key, crop: :fill %>'>
          <% else %>
            <img class="card-img-top", src='https://images.unsplash.com/photo-1622484446431-e4592de4a7ba?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170ss'>
          <% end %>
        <% end %>
        <div class="card-myskis-infos">
          <h2><%= ski.types %>, <%= ski.city %></h2>
          <p><%= ski.price %>€ / day</p>
          <div class="icon">
            <%= link_to edit_ski_path(ski) do %>
              <i class="fa fa-edit"></i>
            <% end %>
            <%= link_to ski_path(ski), method: :delete do %>
              <i class="fa fa-trash" ></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-around">
    <h2 class="mt-5">Reservations</h2>
    <% @mybookings.each do |booking| %>
      <div class="col-4">
          <div class="card-product mt-3">
            <%= link_to ski_path(booking) do %>
              <% if booking.ski.photo.attached? %>
                <img class="card-img-top", src='<%= cl_image_path booking.ski.photo.key, crop: :fill %>'>
              <% else %>
                <img class="card-img-top", src='https://images.unsplash.com/photo-1622484446431-e4592de4a7ba?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170ss'>
              <% end %>
            <% end %>
            <div class="card-show-infos">
              <h2><%= booking.ski.types%>, <%= booking.ski.city%> n°<%= booking.ski.id%> <br>
              # Demand <%= booking.id%></h2>
              <p>Status: <%= booking.status %></p>
              <p>Renter: <%= booking.user.first_name %> <%= booking.user.last_name %></p>
              <p>From <%= booking.start_date %> to <%= booking.end_date %></p>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
