<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1560567323-f2717380f855?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870);">
  <div class="container">
    <h1>You Ride</h1>

    <p>Rental of ski equipment between individuals.</p>
        <%= form_tag skis_search_path, method: :get,class: "form-inline" do %>
            <div class="d-flex justify-content-center">
              <%= text_field_tag :city,
                params[:city],
                class: "form-control form-custom",
                placeholder: "Which city ?" %>
              <%= select_tag :type,
                options_for_select([ 'All type', 'Alpine skis', 'Downhill skis', 'Cross-country skis', 'Nordic skis', 'Snowboard' ], params[:type]),
                class: "form-control form-custom" %>
              <%= submit_tag "Search", class: "btn-search" %>
           </div>
        <% end %>
    </div>
</div>


<div class="container">
  <div class="ski-cards">
    <% @skis.each do |ski| %>
      <div class="ski-card">
        <%= link_to ski_path(ski) do %>
          <div class="ski-card-img">
            <% if ski.photo.attached? %>
              <%= cl_image_tag ski.photo.key , crop: :fill %>
            <% else %>
              <img src='https://images.unsplash.com/photo-1622484446431-e4592de4a7ba?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170ss'>
            <% end %>
          </div>
        <% end %>
          <div class="ski-card-body">
            <h5 class="card-title"><%= ski.types %>, <%= ski.city %></h5>
            <div class="ski-card-rating">
              <% if ski.reviews.count > 0 %>
              <%= ski.average %><i class="fas fa-star"></i>
              <% else %>
              <i class="far fa-star"></i>
              <% end %>
            </div>
          </div>
          <div>
            <p class="card-text"><%= ski.price %>€ / day</p>
          </div>
      </div>
    <% end %>
  </div>
</div>
