<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1551698618-1dfe5d97d256?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870);">
  <div class="container">
    <h1>You Ride</h1>

    <p>Rental of ski equipment between individuals.</p>
        <%= form_tag skis_search_path, method: :get,class: "form-inline" do %>
            <div class="d-flex justify-content-center">
              <%= text_field_tag :type,
                params[:type],
                class: "form-control form-custom",
                placeholder: "Type of ski ?" %>
              <%= text_field_tag :city,
                params[:city],
                class: "form-control form-custom",
                placeholder: "Which city ?" %>
              <%= submit_tag "Search", class: "btn btn-primary" %>
           </div>
        <% end %>
    </div>
</div>

<div class="container d-flex">
  <div class="row">
    <% @skis.each do |ski| %>
      <div class="col-3">
        <%= link_to ski_path(ski) do %>
          <div class="ski-card card mt-5" style="width: 18rem;">
              <% if ski.photo.attached? %>
               <img class="card-img-top mb-4", src='<%= cl_image_path ski.photo.key, height: 300, width: 400, crop: :fill %>'>
              <% else %>
                <img class="card-img-top mb-4", src='https://images.unsplash.com/photo-1622484446431-e4592de4a7ba?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170ss'>
              <% end %>
            <div class="card-body">
             <h5 class="card-title"><%= ski.types %></h5>
             <p class="card-text"><%= ski.price %>€ / day</p>
            </div>
          </div>
        <% end %>
       </div>
     <% end %>
  </div mt-5>
      <div style="width: 100%; height: 600px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
</div>
