<div class="banner-search first">
  <div>
        <%= form_tag skis_search_path, method: :get,class: "form-inline" do %>
            <div class="d-flex justify-content-center">
              <%= text_field_tag :city,
                params[:city],
                class: "form-control form-custom-search",
                placeholder: "Which city ?" %>
              <%= select_tag :type,
                options_for_select([ 'All type', 'Alpine skis', 'Downhill skis', 'Cross-country skis', 'Nordic skis', 'Snowboard' ], params[:type]),
                class: "form-control form-custom-search" %>
              <%= submit_tag "Search", class: "btn-search" %>
           </div>
        <% end %>
    </div>
</div>

<% if @message.present?  %>
  <div class="alert alert-warning" role="alert">
    <p><%= @message + params[:city]%></p>
  </div>
<% end %>
<div class="container d-flex">
  <div class="ski-cards-search">
    <% @skis.each do |ski| %>
      <div class="ski-card-search">
        <%= link_to ski_path(ski) do %>
          <div class="ski-card-img">
            <% if ski.photo.attached? %>
              <%= cl_image_tag ski.photo.key, crop: :fill %>
            <% else %>
              <img src='https://images.unsplash.com/photo-1622484446431-e4592de4a7ba?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170ss'>
            <% end %>
          </div>
        <% end %>
          <div class="ski-card-body">
            <h5 class="card-title"><%= ski.types %>, <%= ski.city %></h5>
            <div class="ski-card-rating">
              4,5<i class="fas fa-star"></i>
            </div>
          </div>
          <div>
            <p class="card-text"><%= ski.price %>€ / day</p>
          </div>
      </div>
    <% end %>
  </div >
      <div style="width: 60%; height: 420px; margin: 0px 0 0 22px; border-radius: 10px; position: sticky;
        top: 68px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
</div>
