
<div class="all-product">

  <div class="product">
    <h1><%= @ski.types%>, <%= @ski.city %></h1>
    <div class="grid-info">
      <div class="title">
        <div class="product-photo">
          <% if @ski.photo.attached? %>
            <img class="card-img-top", src='<%= cl_image_path @ski.photo.key, crop: :fill %>'>
          <% else %>
            <img class="card-img-top", src='https://images.unsplash.com/photo-1622484446431-e4592de4a7ba?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170'>
          <% end %>
        </div>
      </div>

      <div class="product-info">
        <h4>About this location</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus maxime nobis aut suscipit, odio blanditiis officiis.</p>
        <p>Size: <%= @ski.size %> cm</p>
        <% if @poles = true %>
          <p>Poles: included </p>
        <% else %>
          <p>Poles: not included </p>
        <% end %>
        <p>Référence: <%=@ski.id%><%=(@ski.user.id)%><%=(@ski.types).downcase%><%=(@ski.user.last_name).downcase%></p>
        <p>Rented by <%=@ski.user.first_name %></p>
      </div>
    </div>

    <div class="rating">
      <i class="fas fa-star"></i><%= @ski.average %> -
      <%= Review.where(ski_id: @ski.id).count %> Reviews</strong>
      </div>

    <div class="card-reviews mt-3">
    <% @ski.reviews.each do |review| %>
      <div class="card-review">
        <p>Post by <%=review.user.first_name %></p>
        <p>
          <% Review::AUTHORIZED_RATINGS.each do |number| %>
            <i class="fa<%= (number > review.rating) ? 'r' : 's' %> fa-star"></i>
          <% end %>
          <p><%= review.comment %></p>
        </p>
      </div>
    <% end %>
    </div>

    <div class="add-review">
      <h3>Add review :</h3>
      <%= simple_form_for [ @ski, @review ] do |f| %>
        <%= f.input :rating, as: :hidden %>
      <div class="my-3">
        <% Review::AUTHORIZED_RATINGS.each do |index| %>
          <i id="<%= index %>" class="review-rating far fa-star"></i>
        <% end %>
      </div>
        <%= f.input :comment, as: :text %>
        <%= f.submit "Submit", class: "btn-search" %>
      <% end %>
    </div>
  </div>

  <div class="booking">
    <div class="price-by-day"><h2 style="font-weight: bold;"><span id="ski-price-per-day"><%= @ski.price %></span> € / day</h2></div>
    <div class="form-wrapper">
       <%= simple_form_for [@ski, @booking] do |f| %>
                <%= f.input :start_date,  label: "Select your dates",
                                          as: :string,
                                          required: false,
                                          input_html: {id: "range_start", class: "d-none"} %>
                <%= f.input :end_date,  label: false,
                                        as: :string,
                                        required: false,
                                        input_html: {id: "range_end", class: "d-none"} %>
                <%= f.submit :Book, class: "btn-search" %>
              <% end %>
      <br>
      <h5>Réservation pour <span id="total-nights">0</span> days</h5>
      <h5>Prix total : <span id="total-price">0</span> € </h5>
      <p style="font-size: 12px;">The total rental price includes VAT and all applicable charges</p>
    </div>
  </div>
</div>

<div id="booking-form-div"
     data-bookings="<%= @bookings_dates.to_json %>">
</div>
